<!-- this is the page layout I am always going to have with every page -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Form Playground</title>
    <!-- <link rel="stylesheet" href="styles/base.css"> -->
  </head>
  <body>
    <header>
      <!-- <h1>Form Playground</h1> -->
      <nav>
        <a href="/">Home</a>
        <a href="/new_film">Add a film</a>
      </nav>
    </header>

    <main>
      <%= yield %>
      <!-- THIS IS THE KEY. NOW THE HTML YIELDS TO EVERY METHOD/PAGE/JAZZ THAT COMES FROM SWHERE ELSE -->
    </main>
  </body>
</html>
